<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.namoadigital.prj001">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ui.AppBase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_namoa"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.act052.Act052_Main"></activity>
        <!-- Login -->
        <activity
            android:name=".ui.act001.Act001_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Customer List -->
        <activity
            android:name=".ui.act002.Act002_Main"
            android:label="@string/act002_title_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Site List -->
        <activity
            android:name=".ui.act003.Act003_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- Operation List -->
        <activity
            android:name=".ui.act004.Act004_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!--  -->
        <activity
            android:name=".ui.act005.Act005_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!--  -->
        <activity
            android:name=".ui.act006.Act006_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!--  -->
        <activity
            android:name=".ui.act007.Act007_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!--  -->
        <activity
            android:name=".ui.act008.Act008_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!--  -->
        <activity
            android:name=".ui.act009.Act009_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!--  -->
        <activity
            android:name=".ui.act010.Act010_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!--  -->
        <activity
            android:name=".ui.act011.Act011_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
Tentativa paleativa para evitar crash ao voltar da act a camera.
        Problema q ocorria no tablet mosolf api 5.1
        android:configChanges="orientation|screenSize"
        -->
        <!--  -->
        <activity
            android:name=".ui.act012.Act012_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!--  -->
        <activity
            android:name=".ui.act013.Act013_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!--  -->
        <activity
            android:name=".ui.act014.Act014_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!--  -->
        <activity
            android:name=".ui.act015.Act015_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act016.Act016_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act017.Act017_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act018.Act018_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act019.Act019_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act020.Act020_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act021.Act021_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act022.Act022_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act023.Act023_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act024.Act024_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act025.Act025_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act026.Act026_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.act027.Act027_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act028.Act028_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act029.Act029_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act030.Act030_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act031.Act031_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act032.Act032_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act033.Act033_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.act034.Act034_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act035.Act035_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.act036.Act036_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act037.Act037_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act038.Act038_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act039.Act039_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act040.Act040_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act041.Act041_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act042.Act042_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act043.Act043_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act044.Act044_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act045.Act045_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act046.Act046_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act047.Act047_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act048.Act048_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act049.Act049_Main"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act050.Act050_Main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.act051.Act051_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.act.product_selection.Act_Product_Selection"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.act.test.Test"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.act.test2.Teste2"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Receivers -->
        <receiver android:name=".receiver.WBR_GetCustomer" />

        <service android:name=".service.WS_GetCustomer" />

        <receiver android:name=".receiver.WBR_Session" />

        <service android:name=".service.WS_Session" />

        <receiver android:name=".receiver.WBR_Sync" />

        <service android:name=".service.WS_Sync" />

        <receiver android:name=".receiver.WBR_UpdateSoftware" />

        <service android:name=".service.WS_UpdateSoftware" />

        <receiver android:name=".receiver.WBR_Serial" />

        <service android:name=".service.WS_Serial" />

        <receiver android:name=".receiver.WBR_Save" />

        <service android:name=".service.WS_Save" />

        <receiver android:name=".receiver.WBR_DownLoad_Picture" />

        <service android:name=".service.WS_DownLoad_Picture" />

        <receiver android:name=".receiver.WBR_DownLoad_PDF" />

        <service android:name=".service.WS_DownLoad_PDF" />

        <receiver android:name=".receiver.WBR_Upload_Img" />

        <service android:name=".service.WS_Upload_Img" />

        <receiver android:name=".receiver_chat.WBR_Upload_Img_Chat" />

        <service android:name=".service_chat.WS_Upload_Img_Chat" />

        <receiver android:name=".receiver.WBR_DownLoad_Customer_Logo" />

        <service android:name=".service.WS_DownLoad_Customer_Logo" />

        <receiver android:name=".receiver.WBR_Logout" />

        <service android:name=".service.WS_Logout" />

        <receiver android:name=".receiver.WBR_Cleanning" />

        <service
            android:name=".service.WS_Cleanning"
            android:enabled="true" />

        <receiver android:name=".receiver.WBR_Connections_Change">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.WBR_BootCompleted">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.WBR_AL_Full" />

        <service android:name=".service.WS_AL_Full" />

        <receiver android:name=".receiver.WBR_AL_Quarter" />

        <service android:name=".service.WS_AL_Quarter" />
        <service android:name=".service.SV_LocationTracker" />
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.RegistrationIntentService" />
        <service android:name=".fcm.WS_Google" />
        <service android:name=".fcm.WS_Notification_Sync" />

        <receiver android:name=".receiver.WBR_Enable_NFC" />

        <service android:name=".service.WS_Enable_NFC" />

        <receiver android:name=".receiver.WBR_Cancel_NFC" />

        <service android:name=".service.WS_Cancel_NFC" />

        <receiver android:name=".receiver.WBR_Upload_Support" />

        <service android:name=".service.WS_Upload_Support" />

        <receiver android:name=".receiver.WBR_Serial_Search" />

        <service android:name=".service.WS_Serial_Search" />

        <receiver android:name=".receiver.WBR_SO_Search" />

        <service android:name=".service.WS_SO_Search" />

        <receiver android:name=".receiver.WBR_SO_Serial_Save" />

        <service android:name=".service.WS_SO_Serial_Save" />

        <receiver android:name=".receiver.WBR_SO_Approval" />

        <service android:name=".service.WS_SO_Approval" />

        <receiver android:name=".receiver.WBR_SO_Save" />

        <service android:name=".service.WS_SO_Save" />

        <receiver android:name=".receiver.WBR_Serial_Save" />

        <service android:name=".service.WS_Serial_Save" />

        <receiver android:name=".receiver.WBR_Serial_Tracking_Search" />

        <service android:name=".service.WS_Serial_Tracking_Search" />

        <receiver android:name=".receiver.WBR_UserAuthor" />

        <service android:name=".service.WS_UserAuthor" />
        <service
            android:name=".service.AppBackgroundService"
            android:stopWithTask="false" />

        <receiver android:name=".receiver_chat.WBR_C_Room" />

        <service android:name=".service_chat.WS_C_Room" />

        <receiver android:name=".receiver_chat.WBR_C_Message" />

        <service android:name=".service_chat.WS_C_Message" />

        <receiver android:name=".receiver_chat.WBR_C_Add_Room" />

        <service android:name=".service_chat.WS_C_Add_Room" />

        <receiver android:name=".receiver_chat.WBR_C_Remove_Room" />

        <service android:name=".service_chat.WS_C_Remove_Room" />

        <receiver android:name=".receiver_chat.WBR_C_Remove_Room" />
        <receiver android:name=".receiver_chat.WBR_C_Message_Tmp" />

        <service android:name=".service_chat.WS_C_Message_Tmp" />

        <receiver android:name=".receiver_chat.WBR_C_All_Delivered" />

        <service android:name=".service_chat.WS_C_All_Delivered" />

        <receiver android:name=".receiver_chat.WBR_C_All_Read" />

        <service android:name=".service_chat.WS_C_All_Read" />

        <receiver android:name=".receiver_chat.WBR_Room_Info" />

        <service android:name=".service_chat.WS_Room_Info" /> <!-- Screen On/Off Status -->
        <receiver android:name=".service.ScreenStatusReceiver" />

        <service android:name=".service.ScreenStatusService" /> <!-- Screen On/Off Status -->
        <receiver android:name=".receiver.NotificationReceiver" />
        <receiver android:name=".receiver_chat.WBR_Stop_Chat_service" />
        <receiver android:name=".receiver_chat.WBR_Delivered" />

        <service android:name=".service_chat.WS_Delivered" />

        <receiver android:name=".receiver_chat.WBR_Room_Private" />

        <service android:name=".service_chat.WS_Room_Private" />

        <receiver android:name=".receiver_chat.WBR_Leave_Room" />

        <service android:name=".service_chat.WS_Leave_Room" />

        <receiver android:name=".receiver.WBR_AP_Search" />

        <service android:name=".service.WS_AP_Search" />

        <receiver android:name=".receiver.WBR_AP_Save" />

        <service android:name=".service.WS_AP_Save" />

        <receiver android:name=".receiver_chat.WBR_Room_AP" />

        <service android:name=".service_chat.WS_Room_AP" />

        <receiver android:name=".receiver.WBR_SO_Pack_Express_Local" />

        <service android:name=".service.WS_SO_Pack_Express_Local" />

        <receiver android:name=".receiver.WBR_SO_Service_Search" />

        <service android:name=".service.WS_SO_Service_Search" />

        <receiver android:name=".receiver_chat.WBR_Add_User_Room_AP" />

        <service android:name=".service_chat.WS_Add_User_Room_AP" />

        <receiver android:name=".receiver.WBR_Process_Form_Ap" />

        <service android:name=".service.WS_Process_Form_AP" />

        <receiver android:name=".receiver.WBR_Serial_Log" />
        <receiver android:name=".receiver.WBR_SO_Next_Orders" />

        <service android:name=".service.WS_Serial_Log" />
        <service android:name=".service.WS_SO_Next_Orders" />
        <service android:name=".service.WS_SO_Favorite_List" />

        <receiver android:name=".receiver.WBR_SO_Favorite_List" />

        <service android:name=".service.WS_SO_Client_List" />

        <receiver android:name=".receiver.WBR_SO_Client_List" />

        <service android:name=".service.WS_SO_Creation_Save" />

        <receiver android:name=".receiver.WBR_SO_Creation_Save" />

        <service android:name=".service.WS_Generate_NForm_PDF" />

        <receiver android:name=".receiver.WBR_Generate_NForm_PDF" />
    </application>

</manifest>