<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.namoadigital.prj001">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ui.AppBase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_namoa"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Login -->
        <activity
            android:name=".ui.act001.Act001_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Customer List -->
        <activity
            android:name=".ui.act002.Act002_Main"
            android:label="@string/act002_title_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Site List -->
        <activity
            android:name=".ui.act003.Act003_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Operation List -->
        <activity
            android:name=".ui.act004.Act004_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--  -->
        <activity
            android:name=".ui.act005.Act005_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--  -->
        <activity
            android:name=".ui.act006.Act006_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--  -->
        <activity
            android:name=".ui.act007.Act007_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--  -->
        <activity
            android:name=".ui.act008.Act008_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--  -->
        <activity
            android:name=".ui.act009.Act009_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--  -->
        <activity
            android:name=".ui.act010.Act010_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--  -->
        <activity
            android:name=".ui.act011.Act011_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--  -->
        <activity
            android:name=".ui.act012.Act012_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--  -->
        <activity
            android:name=".ui.act013.Act013_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--  -->
        <activity
            android:name=".ui.act014.Act014_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--  -->
        <activity
            android:name=".ui.act015.Act015_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.act016.Act016_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.act017.Act017_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.act018.Act018_Main"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.act019.Act019_Main"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.act020.Act020_Main"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".receiver.WBR_GetCustomer" />

        <service android:name=".service.WS_GetCustomer" />

        <receiver android:name=".receiver.WBR_Session" />

        <service android:name=".service.WS_Session" />

        <receiver android:name=".receiver.WBR_Sync" />

        <service android:name=".service.WS_Sync" />

        <receiver android:name=".receiver.WBR_UpdateSoftware" />

        <service android:name=".service.WS_UpdateSoftware" />

        <receiver android:name=".receiver.WBR_Serial" />

        <service android:name=".service.WS_Serial" />

        <receiver android:name=".receiver.WBR_Save" />

        <service android:name=".service.WS_Save" />

        <receiver android:name=".receiver.WBR_DownLoad_Picture" />

        <service android:name=".service.WS_DownLoad_Picture" />

        <receiver android:name=".receiver.WBR_DownLoad_PDF" />

        <service android:name=".service.WS_DownLoad_PDF" />

        <receiver android:name=".receiver.WBR_Upload_Img" />

        <service android:name=".service.WS_Upload_Img" />

        <receiver android:name=".receiver.WBR_DownLoad_Customer_Logo" />

        <service android:name=".service.WS_DownLoad_Customer_Logo" />

        <receiver android:name=".receiver.WBR_Logout" />

        <service android:name=".service.WS_Logout" />

        <receiver android:name=".receiver.WBR_Cleanning" />

        <service
            android:name=".service.WS_Cleanning"
            android:enabled="true" />

        <receiver android:name=".receiver.WBR_Connections_Change">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.WBR_BootCompleted">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.WBR_AL_Full" />

        <service android:name=".service.WS_AL_Full" />

        <receiver android:name=".receiver.WBR_AL_Quarter" />

        <service android:name=".service.WS_AL_Quarter" />

        <service android:name=".service.SV_LocationTracker" />

        <!--<activity-->
        <!--android:name=".ui.act016.Act015_Main"-->
        <!--android:label="@string/title_activity_act015__main"-->
        <!--android:theme="@style/AppTheme.NoActionBar"></activity>-->

        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".fcm.RegistrationIntentService" />

        <service android:name=".fcm.WS_Google" />

        <service android:name=".fcm.WS_Notification_Sync" />

        <receiver android:name=".receiver.WBR_Enable_NFC" />

        <service android:name=".service.WS_Enable_NFC" />

        <receiver android:name=".receiver.WBR_Cancel_NFC" />

        <service android:name=".service.WS_Cancel_NFC" />

        <receiver android:name=".receiver.WBR_Upload_Support" />

        <service android:name=".service.WS_Upload_Support" />

    </application>

</manifest>