<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.namoadigital.prj001">

    <application
        tools:replace="android:icon"
        android:icon="@mipmap/ic_launcher" />

</manifest>